.swal-title-custom {
  color: #ff69b4; /* Color rosa para el encabezado */
}

.swal-button--custom {
  background-color: #ff69b4 !important; /* Fondo rosa */
  color: white !important; /* Texto blanco */
  opacity: 0.7;
}

.swal-button--custom:hover {
  opacity: 1;
}
